[submodule "dot-config/nvim"]
  path = dot-config/nvim
  url = git@github.com:tvrmsmith/kickstart.nvim.git

[submodule "dot-config/nvim-Lazyman"]
  path = dot-config/nvim-Lazyman
  url = https://github.com/doctorfree/nvim-lazyman

[submodule "dot-config/nvim-LazyVim"]
  path = dot-config/nvim-LazyVim
  url = git@github.com:tvrmsmith/lazyvim-config.git

[submodule "dot-warp/themes"]
  path = dot-warp/themes
  url = https://github.com/warpdotdev/themes.git
